.principal{
    position: relative;
    z-index: -1;
}
.img_principal{
    width: 100%;
    height: 100%;
    margin: -5em auto;
}
.texto_principal{
    font-size: 2em;
    color: var(--branco);
}
.texto_principal_destaque{
    background: var(--gadiente);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}
.textos_principal{
    text-align: center;
    
}
.button_build{
    display: block;
    position: relative;
    z-index: 0;
    background: var(--gadiente);
    color: --black;
    font-size: 1.2em;
    font-weight: 700;
    padding: 1em ;
    margin: 1em auto;
    border-radius: 2em;
    width: 15em;
}